{% extends "base.html" %}


{% block title %}ログイン{% endblock title %}


{% block content %}

<div class="border border-dark-subtle border-3 rounded-3 p-5 mx-auto" style="max-width: 540px">

    <h3 class="mb-3 text-center">ログインフォーム</h3>
    
    <form action="" method="POST">{% csrf_token %}
        
        {# Login form #}
        <div class="mb-3">
            {# ここにユーザー名入力欄 #}
            <label for="id_username">ユーザー名:</label>
            <input type="text" id="id_username" required class="form-control">
        </div>
        <div class="mb-3">
            {# ここにパスワード入力欄 #}
            <label for="id_password">パスワード:</label>
            <input type="password" id="id_password" required class="form-control">
        </div>

        {# Submit button #}
        <div class="text-center">
            <a href="{% url 'signup' %}" class="btn btn-secondary">はじめての方はこちら</a>
            <button type="submit" class="btn btn-dark">ログイン</button>
        </div>

    </form>
    
</div>

{% endblock content %}